.Maincontainer
  width 100%
  height 542px
  .second-container
    width 100%
    .count_down_good
      float left
      width 100%
      padding 15px 20px 15px 28px
      box-sizing border-box
      text-align center
      .detail_info
        float left
        width 160px
        height 160px
        text-align center
        padding-top 40px
        .title
          font-size 20px
        .time
          margin 10px 0
          span
            background black
            color white
            padding 2px
            border-radius 2px
            margin-right 5px
            &.colon
              color black
              background white
        .next_good
          font-size 12px
      img
        float left
        width 160px


    .welfare_team
      width 100%
      height 150px
      img
        width 375px
        height 150px