@import "../../../assets/css/mixins.styl"
.container-classifyDatial
  width 100%
  height 100%
  //margin-left 81px
  padding 20px 13px 10.5px 95px
  box-sizing border-box
  z-index 10
  .twoDiv-wrap
    width 100%
    height 100%
    .banner
      width 100%
      height 96px
      margin-bottom 16px
      img
        width 100%
        height 100%
    .cate-list
      width 100%
      height auto
      .cate-ul
        width 100%
        height auto
        .cate-item
          box-sizing border-box
          width 72px
          height 108px
          margin-right 17px
          text-align center
          float left
          &.no-margin
            margin-right 0
          img
            border-radius 50%
            width 100%
            height 72px
          span
            font-size 12px


