.container
  width 100%
  .title
    line-height 60px
  header
    box-sizing border-box
    width 100%
    height 60px
    text-align center
    display flex
    flex-direction column
    align-items center
    justify-content center
    background #fff
    color: #333
    .bed
      line-height 1
      font-size 16px
      margin-bottom 8px
    .manufacturer
      line-height  1
      font-size 12px
      color #999
  .my-goodGuide
    width 100%
    background #fff
    .list
      width 100%
    .item
      box-sizing border-box
      padding 0 5px 20px 10px
      float left
      width 185px
      height 268.5px
      background #fff
      a
        .hd
          width 172px
          height 207px
          .wrap
            width 100%
            height 172.5px
            background #f4f4f4
            img
              width 172.5px
              height 172.5px
          .decs
            color #9F8A60
            background #F1ECE2
            font-size 13px
            text-align center
            width 100%
            height 30px
            line-height 30px
            border-radius 3px
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        .tagWrap
          font-size 12px
          color white
          padding 2px 5px 4px 5px
          text-align center
          vertical-align center
          border-radius 1px
          width auto
          display inline-block
          letter-spacing 1px
          &.length0
            background #f48f18
          &.length1
            background palevioletred
          &.length2
            background greenyellow
        .name
          margin 6px 2px
          font-size 13px
          color #333
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          letter-spacing 1px
        .price
          color red
          font-size 14px


      .item_icon
        background #f4f4f4
        display block
        width 100%
        height 80px
        padding 64px 0px
        text-align center
        font-size 15px
        color #333
        i
          font-size 30px
          position relative
          top 20px



