@import "../../assets/css/mixins.styl"
.meet-container
  width 100%
  height 100%
  padding-top 44px
  padding-bottom 50px
  background #f4f4f4
  .main-all
    width 100%
    height 100%
    .m-banner
      width 100%
      height 216px
      box-sizing border-box
      padding 4% 0
      .swiper1
        width 100%
        height 193px
        display: flex;
        overflow hidden
        .swiper-wrapper
          height 100%
          //text-align center
          display flex
          .swiper-slide
            display flex
            width 345px
            height 100%
            position relative
            img
              width 100%
              height 100%
              border-radius 5px
            .content
              position absolute
              top 0
              left 0
              right 0
              bottom 0
              margin auto
              width 238px
              height 100px
              text-align center
              background rgba(255,255,255,.9)
              display flex
              flex-direction column
              flex 1
              .sub-title
                margin-top 20px
                font-size 12px
              .title
                margin-top 10px
                font-size 17px
                font-weight bold
                color black
              .dec
                margin-top 10px
                font-size 15px
                color #333
    .explore-swiper
      width 100%
      height 153px
      padding-top 16px
      margin-bottom 10px
      box-sizing border-box
      border-bottom 10px solid #EEEEEE
      .swiper2
        width 100%
        height 143px
        display flex
        overflow hidden
        .swiper-wrapper
          height 118px
          background #fff
          display flex
          margin-left 10px
          .swiper-slide
            position relative
            align-items: center;
            height 105px
            width 82px
            margin-right 12px
            img
              width 82px
              height 82px
              margin-bottom 9px
            .sub-title
              position absolute
              top 0
              right 0
              font-size 12px
              text-align center
              color #E6E6E6
              background rgba(#2B2B2B,0.9)
            .title
              position absolute
              left 0
              top 92px
              text-align center
              width 100%
              font-size 12px
              color black

    .explore-ten-hour
      width 100%
      height 285px
      padding 0 15px 20px 15px
      margin-bottom 10px
      box-sizing border-box
      border-bottom 10px solid #D5D5D5
      .inner
        width 100%
        height 100%
        .title
          width 100%
          height 60px
          line-height 60px
          text-align center
        .swiper-container
          width 100%
          height 265px
          display flex
          overflow hidden
          .swiper-wrapper
            height 100%
            display flex
            margin-right 10px
            .swiper-slide
              background-image url("../../common/images/meetChart.png")
              background-size 100% 100%
              align-items: center;
              width: 290px;
              height 80%
              box-sizing border-box
              padding 19px 20px 40px 20px
              img
                width 23px
                height 23px
                border-radius 50%
                margin-right 3px
                display inline-block


    .explore-look
      width 100%
      .title
        width 100%
        height 60px
        line-height 60px
        text-align center
      .content
        width 100%
        .img-wrap
          width 100%
          height 100%
          img
            width 100%
            height 100%
        .topic-info
          width 100%
          box-sizing border-box
          padding 12px 15px 23px 15px
          img
            border-radius 50%
            width 23px
            height 23px
          .speak
            line-height 20px
            margin-top 20px
            font-size 14px



    .explore-more
      width 100%
      height auto
      box-sizing border-box
      padding 0 15px 15px 15px
      .title
        width 100%
        height 70px
        text-align center
        line-height 70px
        border-bottom 1px solid #EEEEEE
      .more-wrap
        width 100%
        height 224px
        padding 12px
        margin-bottom 15px
        display block
        box-sizing border-box
        .img-wrap
          width 100%
          height 180px
          img
            width 100%
            height 100%
        .dec
          width 100%
          height 16px
          padding 14px 0
          span
            text-align center
            font-size 14px
            margin-left 5px
            color #333