.title_nav_wrapper
  position fixed
  top 45px
  left 0
  z-index 200
  width 100%
  overflow hidden
  height 30px
  background #fff
  display flex
  .title_content
    height 100%
    display flex
    li
      box-sizing border-box
      padding-top 2px
      height 30px
      line-height 30px
      width 50px
      margin 0 15px
      text-align center
      font-size 16px
      color #333
      &.on
        color red
        border-bottom 2px solid red