.allScroll
  width 100%
  overflow hidden
  .swiper-container
    width: 100%;
    height: 200px;
    display flex
    .swiper-wrapper
      height 100%
      display flex
      .swiper-slide
        width 375px
        height 200px
        img
          width 100%
          height 100%
  .span_container
    text-align center
    height 24px
    line-height 24px
    span
      font-size 12px
      margin 0 8px
      i
        color red
  .gray
    width 100%
    height 15px
    background #F4F4F4
